certifi==2020.12.5
chardet==4.0.0
click==7.1.2
distlib==0.3.4
filelock==3.7.0
Flask==1.1.2
Flask-Gunicorn==0.1.1
gunicorn==20.1.0
idna==2.10
importlib-metadata==4.11.4
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.0.1
MarkupSafe==1.1.1
numpy==1.20.1
platformdirs==2.5.2
requests==2.25.1
scikit-learn==0.24.1
scipy==1.6.1
six==1.16.0
sklearn==0.0
threadpoolctl==2.1.0
typing_extensions==4.2.0
urllib3==1.26.5
virtualenv==20.14.1
Werkzeug==1.0.1
zipp==3.8.0
